<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xjs._36wallpaper.mapper._36wallpaperMapper">



    <delete id="deleteRepeatData">
        delete from webmagic_36wallpaper where id not in	(
            SELECT
                t.min_id
            FROM
                    ( SELECT min( id ) AS min_id FROM webmagic_36wallpaper GROUP BY picture_url ) AS t
        )
    </delete>
</mapper>