<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.invest.mapper.TbInvestMapper">

    <resultMap type="com.ruoyi.invest.domain.TbInvest" id="TbInvestResult">
        <result property="investId"    column="invest_id"    />
        <result property="userId"    column="user_id"    />
        <result property="firmId"    column="firm_id"    />
        <result property="investAmount"    column="invest_amount"    />
        <result property="investYield"    column="invest_yield"    />
        <result property="investState"    column="invest_state"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>

    <sql id="selectTbInvestVo">
        select invest_id, user_id, firm_id, invest_amount, invest_yield, invest_state, del_flag, create_time, create_by, update_time, update_by from tb_invest
    </sql>

    <select id="selectTbInvestList" parameterType="com.ruoyi.invest.domain.TbInvest" resultMap="TbInvestResult">
        <include refid="selectTbInvestVo"/>
        <where>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="firmId != null "> and firm_id = #{firmId}</if>
            <if test="investAmount != null "> and invest_amount = #{investAmount}</if>
            <if test="investYield != null "> and invest_yield = #{investYield}</if>
            <if test="investState != null "> and invest_state = #{investState}</if>
        </where>
    </select>

    <select id="selectTbInvestByInvestId" parameterType="Long" resultMap="TbInvestResult">
        <include refid="selectTbInvestVo"/>
        where invest_id = #{investId}
    </select>

    <insert id="insertTbInvest" parameterType="com.ruoyi.invest.domain.TbInvest" useGeneratedKeys="true" keyProperty="investId">
        insert into tb_invest
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="firmId != null">firm_id,</if>
            <if test="investAmount != null">invest_amount,</if>
            <if test="investYield != null">invest_yield,</if>
            <if test="investState != null">invest_state,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="firmId != null">#{firmId},</if>
            <if test="investAmount != null">#{investAmount},</if>
            <if test="investYield != null">#{investYield},</if>
            <if test="investState != null">#{investState},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
        </trim>
    </insert>

    <update id="updateTbInvest" parameterType="com.ruoyi.invest.domain.TbInvest">
        update tb_invest
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="firmId != null">firm_id = #{firmId},</if>
            <if test="investAmount != null">invest_amount = #{investAmount},</if>
            <if test="investYield != null">invest_yield = #{investYield},</if>
            <if test="investState != null">invest_state = #{investState},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where invest_id = #{investId}
    </update>

    <delete id="deleteTbInvestByInvestId" parameterType="Long">
        delete from tb_invest where invest_id = #{investId}
    </delete>

    <delete id="deleteTbInvestByInvestIds" parameterType="String">
        delete from tb_invest where invest_id in
        <foreach item="investId" collection="array" open="(" separator="," close=")">
            #{investId}
        </foreach>
    </delete>
</mapper>
