<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.BuildingTeamRelMapper">
    
    <resultMap type="com.ruoyi.system.domain.BuildingTeamRel" id="BuildingTeamRelResult">
        <result property="id"    column="ID"    />
        <result property="isDeleted"    column="IS_DELETED"    />
        <result property="createdTime"    column="CREATED_TIME"    />
        <result property="createdBy"    column="CREATED_BY"    />
        <result property="modifiedBy"    column="MODIFIED_BY"    />
        <result property="lastUpdatedTime"    column="LAST_UPDATED_TIME"    />
        <result property="buildingId"    column="BUILDING_ID"    />
        <result property="teamId"    column="TEAM_ID"    />
    </resultMap>

    <sql id="selectBuildingTeamRelVo">
        select ID, IS_DELETED, CREATED_TIME, CREATED_BY, MODIFIED_BY, LAST_UPDATED_TIME, BUILDING_ID, TEAM_ID from building_team_rel
    </sql>

    <select id="selectBuildingTeamRelList" parameterType="com.ruoyi.system.domain.BuildingTeamRel" resultMap="BuildingTeamRelResult">
        <include refid="selectBuildingTeamRelVo"/>
        <where>  
            <if test="isDeleted != null  and isDeleted != ''"> and IS_DELETED = #{isDeleted}</if>
            <if test="createdTime != null "> and CREATED_TIME = #{createdTime}</if>
            <if test="createdBy != null  and createdBy != ''"> and CREATED_BY = #{createdBy}</if>
            <if test="modifiedBy != null  and modifiedBy != ''"> and MODIFIED_BY = #{modifiedBy}</if>
            <if test="lastUpdatedTime != null "> and LAST_UPDATED_TIME = #{lastUpdatedTime}</if>
            <if test="buildingId != null "> and BUILDING_ID = #{buildingId}</if>
            <if test="teamId != null "> and TEAM_ID = #{teamId}</if>
        </where>
    </select>
    
    <select id="selectBuildingTeamRelById" parameterType="Long" resultMap="BuildingTeamRelResult">
        <include refid="selectBuildingTeamRelVo"/>
        where ID = #{id}
    </select>
        
    <insert id="insertBuildingTeamRel" parameterType="com.ruoyi.system.domain.BuildingTeamRel" useGeneratedKeys="true" keyProperty="id">
        insert into building_team_rel
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="isDeleted != null">IS_DELETED,</if>
            <if test="createdTime != null">CREATED_TIME,</if>
            <if test="createdBy != null">CREATED_BY,</if>
            <if test="modifiedBy != null">MODIFIED_BY,</if>
            <if test="lastUpdatedTime != null">LAST_UPDATED_TIME,</if>
            <if test="buildingId != null">BUILDING_ID,</if>
            <if test="teamId != null">TEAM_ID,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="isDeleted != null">#{isDeleted},</if>
            <if test="createdTime != null">#{createdTime},</if>
            <if test="createdBy != null">#{createdBy},</if>
            <if test="modifiedBy != null">#{modifiedBy},</if>
            <if test="lastUpdatedTime != null">#{lastUpdatedTime},</if>
            <if test="buildingId != null">#{buildingId},</if>
            <if test="teamId != null">#{teamId},</if>
         </trim>
    </insert>

    <update id="updateBuildingTeamRel" parameterType="com.ruoyi.system.domain.BuildingTeamRel">
        update building_team_rel
        <trim prefix="SET" suffixOverrides=",">
            <if test="isDeleted != null">IS_DELETED = #{isDeleted},</if>
            <if test="createdTime != null">CREATED_TIME = #{createdTime},</if>
            <if test="createdBy != null">CREATED_BY = #{createdBy},</if>
            <if test="modifiedBy != null">MODIFIED_BY = #{modifiedBy},</if>
            <if test="lastUpdatedTime != null">LAST_UPDATED_TIME = #{lastUpdatedTime},</if>
            <if test="buildingId != null">BUILDING_ID = #{buildingId},</if>
            <if test="teamId != null">TEAM_ID = #{teamId},</if>
        </trim>
        where ID = #{id}
    </update>

    <delete id="deleteBuildingTeamRelById" parameterType="Long">
        delete from building_team_rel where ID = #{id}
    </delete>

    <delete id="deleteBuildingTeamRelByIds" parameterType="String">
        delete from building_team_rel where ID in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>