<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.CompetitionMembersMapper">
    
    <resultMap type="CompetitionMembers" id="CompetitionMembersResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="roleCode"    column="role_code"    />
        <result property="competitionId"    column="competition_id"    />
        <result property="competitionTeamId"    column="competition_team_id"    />
        <result property="score"    column="score"    />
        <result property="penalty"    column="penalty"    />
        <result property="twoPoints"    column="two_points"    />
        <result property="threePoints"    column="three_points"    />
        <result property="breaks"    column="breaks"    />
        <result property="rebound"    column="rebound"    />
        <result property="block"    column="block"    />
        <result property="isDeleted"    column="is_deleted"    />
        <result property="createdBy"    column="created_by"    />
        <result property="modifiedBy"    column="modified_by"    />
        <result property="createdTime"    column="created_time"    />
        <result property="lastUpdatedTime"    column="last_updated_time"    />
        <result property="status"    column="status"    />
        <result property="userType"    column="user_type"    />
        <result property="competitionOfTeamId"    column="competition_of_team_id"    />
        <result property="competitionNature"    column="competition_nature"    />
        <result property="realName"    column="real_name"    />
        <result property="jerseyNumber"    column="jersey_number"    />
        <result property="idType"    column="id_type"    />
        <result property="idCardNo"    column="id_card_no"    />
        <result property="contactsTel"    column="contacts_tel"    />
        <result property="contacts"    column="contacts"    />
        <result property="contactsAreaCode"    column="contacts_area_code"    />
        <result property="personalPhoto"    column="personal_photo"    />
        <result property="isFirstLaunch"    column="is_first_launch"    />
        <result property="teamPosition" column="team_position"/>
        <result property="height" column="height"/>
        <result property="weight" column="weight"/>
        <result property="isHideAvatar" column="is_hide_avatar"/>
    </resultMap>

    <sql id="selectCompetitionMembersVo">
        select id, user_id, role_code,is_hide_avatar, competition_id, competition_team_id, score, penalty, two_points, three_points, breaks, rebound, block, is_deleted, created_by, modified_by, created_time, last_updated_time, status, user_type, competition_of_team_id, competition_nature, real_name, jersey_number, id_type, id_card_no, contacts_tel, contacts, contacts_area_code, personal_photo, is_first_launch,team_position,height,weight from competition_members
    </sql>

    <select id="selectCompetitionMembersList" parameterType="CompetitionMembers" resultMap="CompetitionMembersResult">
        <include refid="selectCompetitionMembersVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="roleCode != null  and roleCode != ''"> and role_code = #{roleCode}</if>
            <if test="competitionId != null "> and competition_id = #{competitionId}</if>
            <if test="competitionTeamId != null "> and competition_team_id = #{competitionTeamId}</if>
            <if test="score != null "> and score = #{score}</if>
            <if test="penalty != null "> and penalty = #{penalty}</if>
            <if test="twoPoints != null "> and two_points = #{twoPoints}</if>
            <if test="threePoints != null "> and three_points = #{threePoints}</if>
            <if test="breaks != null "> and breaks = #{breaks}</if>
            <if test="rebound != null "> and rebound = #{rebound}</if>
            <if test="block != null "> and block = #{block}</if>
            <if test="isDeleted != null "> and is_deleted = #{isDeleted}</if>
            <if test="createdBy != null  and createdBy != ''"> and created_by = #{createdBy}</if>
            <if test="modifiedBy != null  and modifiedBy != ''"> and modified_by = #{modifiedBy}</if>
            <if test="createdTime != null "> and created_time = #{createdTime}</if>
            <if test="lastUpdatedTime != null "> and last_updated_time = #{lastUpdatedTime}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="userType != null "> and user_type = #{userType}</if>
            <if test="competitionOfTeamId != null "> and competition_of_team_id = #{competitionOfTeamId}</if>
            <if test="competitionNature != null "> and competition_nature = #{competitionNature}</if>
            <if test="realName != null  and realName != ''"> and real_name like concat('%', #{realName}, '%')</if>
            <if test="jerseyNumber != null  and jerseyNumber != ''"> and jersey_number = #{jerseyNumber}</if>
            <if test="idType != null  and idType != ''"> and id_type = #{idType}</if>
            <if test="idCardNo != null  and idCardNo != ''"> and id_card_no = #{idCardNo}</if>
            <if test="contactsTel != null  and contactsTel != ''"> and contacts_tel = #{contactsTel}</if>
            <if test="contacts != null  and contacts != ''"> and contacts = #{contacts}</if>
            <if test="contactsAreaCode != null  and contactsAreaCode != ''"> and contacts_area_code = #{contactsAreaCode}</if>
            <if test="personalPhoto != null  and personalPhoto != ''"> and personal_photo = #{personalPhoto}</if>
            <if test="isFirstLaunch != null "> and is_first_launch = #{isFirstLaunch}</if>
            <if test="teamPosition != null"> and team_position = #{teamPosition}</if>
            <if test="isHideAvatar != null"> and is_hide_avatar = #{isHideAvatar}</if>
        </where>
    </select>
    
    <select id="selectCompetitionMembersById" parameterType="Long" resultMap="CompetitionMembersResult">
        <include refid="selectCompetitionMembersVo"/>
        where id = #{id}
    </select>
    <select id="getJoinCompetitionMembersPage" resultType="com.ruoyi.system.domain.vo.CompetitionMembersVo">
        SELECT
        t.*,
        u.AVATAR,
        u.USER_NAME as userName,
        u.GENDER,
        u.TELEPHONE,
        u.LOGIN_NAME as loginName,
        u.height,
        u.weight,
        u.TEAM_POSITION as teamPosition,
        u.ROLE
        FROM competition_members t
        LEFT JOIN user_info u ON t.user_id = u.id
        WHERE 1=1 AND t.is_deleted = 0
        <if test="status != null ">
            AND  t.status =#{status}
        </if>
        <if test="userId != null ">
            AND  t.user_id = #{userId}
        </if>
        <if test="competitionId != null ">
            AND  t.competition_id = #{competitionId}
        </if>
        <if test="competitionTeamId != null ">
            AND  t.competition_team_id = #{competitionTeamId}
        </if>
        <if test="competitionOfTeamId != null ">
            AND  t.competition_of_team_id = #{competitionOfTeamId}
        </if>
        <if test="roleCode != null and roleCode != ''">
            AND  t.role_code = #{roleCode}
        </if>
        <if test="userType != null ">
            AND  t.user_type=#{userType}
        </if>
        <if test="contacts != null and contacts != '' ">
            AND  t.contacts like  CONCAT('%',#{contacts},'%')
        </if>
        <if test="contactsTel != null and contactsTel != '' ">
            AND  t.contacts_tel like  CONCAT('%',#{contactsTel},'%')
        </if>
        <if test="id != null ">
            AND  t.id=#{id}
        </if>
        <if test="jerseyNumber != null and jerseyNumber != '' ">
            AND  t.jersey_number like  CONCAT('%',#{jerseyNumber},'%')
        </if>
        <if test="realName != null and realName != '' ">
            AND  t.real_name like  CONCAT('%',#{real_name},'%')
        </if>
        <if test="isDeleted != null ">
            AND  t.is_deleted = #{isDeleted}
        </if>
        order by t.created_time desc
    </select>
    <select id="getCompetitionMembersByCompetitionId"
            resultType="com.ruoyi.system.domain.vo.CompetitionMembersVo">
        SELECT
            c.*,
            u.AVATAR,
            u.USER_NAME as userName,
            u.GENDER,
            u.TELEPHONE,
            u.LOGIN_NAME as loginName,
            u.height,
            u.weight,
            u.TEAM_POSITION as teamPosition,
            u.ROLE
        FROM competition_members c
        LEFT JOIN user_info u ON c.user_id = u.id
        where c.competition_id = #{competitionId} AND  c.is_deleted = 0
    </select>

    <insert id="insertCompetitionMembers" parameterType="CompetitionMembers" useGeneratedKeys="true" keyProperty="id">
        insert into competition_members
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="roleCode != null">role_code,</if>
            <if test="competitionId != null">competition_id,</if>
            <if test="competitionTeamId != null">competition_team_id,</if>
            <if test="score != null">score,</if>
            <if test="penalty != null">penalty,</if>
            <if test="twoPoints != null">two_points,</if>
            <if test="threePoints != null">three_points,</if>
            <if test="breaks != null">breaks,</if>
            <if test="rebound != null">rebound,</if>
            <if test="block != null">block,</if>
            <if test="isDeleted != null">is_deleted,</if>
            <if test="createdBy != null">created_by,</if>
            <if test="modifiedBy != null">modified_by,</if>
            <if test="createdTime != null">created_time,</if>
            <if test="lastUpdatedTime != null">last_updated_time,</if>
            <if test="status != null">status,</if>
            <if test="userType != null">user_type,</if>
            <if test="competitionOfTeamId != null">competition_of_team_id,</if>
            <if test="competitionNature != null">competition_nature,</if>
            <if test="realName != null">real_name,</if>
            <if test="jerseyNumber != null">jersey_number,</if>
            <if test="idType != null">id_type,</if>
            <if test="idCardNo != null">id_card_no,</if>
            <if test="contactsTel != null">contacts_tel,</if>
            <if test="contacts != null">contacts,</if>
            <if test="contactsAreaCode != null">contacts_area_code,</if>
            <if test="personalPhoto != null">personal_photo,</if>
            <if test="isFirstLaunch != null">is_first_launch,</if>
            <if test="teamPosition != null">team_position,</if>
            <if test="height != null">height,</if>
            <if test="weight != null">weight,</if>
            <if test="isHideAvatar != null">is_hide_avatar,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="roleCode != null">#{roleCode},</if>
            <if test="competitionId != null">#{competitionId},</if>
            <if test="competitionTeamId != null">#{competitionTeamId},</if>
            <if test="score != null">#{score},</if>
            <if test="penalty != null">#{penalty},</if>
            <if test="twoPoints != null">#{twoPoints},</if>
            <if test="threePoints != null">#{threePoints},</if>
            <if test="breaks != null">#{breaks},</if>
            <if test="rebound != null">#{rebound},</if>
            <if test="block != null">#{block},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
            <if test="createdBy != null">#{createdBy},</if>
            <if test="modifiedBy != null">#{modifiedBy},</if>
            <if test="createdTime != null">#{createdTime},</if>
            <if test="lastUpdatedTime != null">#{lastUpdatedTime},</if>
            <if test="status != null">#{status},</if>
            <if test="userType != null">#{userType},</if>
            <if test="competitionOfTeamId != null">#{competitionOfTeamId},</if>
            <if test="competitionNature != null">#{competitionNature},</if>
            <if test="realName != null">#{realName},</if>
            <if test="jerseyNumber != null">#{jerseyNumber},</if>
            <if test="idType != null">#{idType},</if>
            <if test="idCardNo != null">#{idCardNo},</if>
            <if test="contactsTel != null">#{contactsTel},</if>
            <if test="contacts != null">#{contacts},</if>
            <if test="contactsAreaCode != null">#{contactsAreaCode},</if>
            <if test="personalPhoto != null">#{personalPhoto},</if>
            <if test="isFirstLaunch != null">#{isFirstLaunch},</if>
            <if test="teamPosition != null">#{teamPosition},</if>
            <if test="height != null">#{height},</if>
            <if test="weight != null">#{weight},</if>
            <if test="isHideAvatar != null">#{isHideAvatar},</if>
         </trim>
    </insert>

    <update id="updateCompetitionMembers" parameterType="CompetitionMembers">
        update competition_members
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="roleCode != null">role_code = #{roleCode},</if>
            <if test="competitionId != null">competition_id = #{competitionId},</if>
            <if test="competitionTeamId != null">competition_team_id = #{competitionTeamId},</if>
            <if test="score != null">score = #{score},</if>
            <if test="penalty != null">penalty = #{penalty},</if>
            <if test="twoPoints != null">two_points = #{twoPoints},</if>
            <if test="threePoints != null">three_points = #{threePoints},</if>
            <if test="breaks != null">breaks = #{breaks},</if>
            <if test="rebound != null">rebound = #{rebound},</if>
            <if test="block != null">block = #{block},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
            <if test="createdBy != null">created_by = #{createdBy},</if>
            <if test="modifiedBy != null">modified_by = #{modifiedBy},</if>
            <if test="createdTime != null">created_time = #{createdTime},</if>
            <if test="lastUpdatedTime != null">last_updated_time = #{lastUpdatedTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="userType != null">user_type = #{userType},</if>
            <if test="competitionOfTeamId != null">competition_of_team_id = #{competitionOfTeamId},</if>
            <if test="competitionNature != null">competition_nature = #{competitionNature},</if>
            <if test="realName != null">real_name = #{realName},</if>
            <if test="jerseyNumber != null">jersey_number = #{jerseyNumber},</if>
            <if test="idType != null">id_type = #{idType},</if>
            <if test="idCardNo != null">id_card_no = #{idCardNo},</if>
            <if test="contactsTel != null">contacts_tel = #{contactsTel},</if>
            <if test="contacts != null">contacts = #{contacts},</if>
            <if test="contactsAreaCode != null">contacts_area_code = #{contactsAreaCode},</if>
            <if test="personalPhoto != null">personal_photo = #{personalPhoto},</if>
            <if test="isFirstLaunch != null">is_first_launch = #{isFirstLaunch},</if>
            <if test="teamPosition != null">team_position = #{teamPosition},</if>
            <if test="height != null">height = #{height},</if>
            <if test="weight != null">weight = #{weight},</if>
            <if test="isHideAvatar != null">is_hide_avatar = #{isHideAvatar},</if>
        </trim>
        where id = #{id}
    </update>
    <update id="bindCompetitionMembersByTel">
        update competition_members set user_id = #{userId} where contacts_tel = #{telephone}
    </update>

    <delete id="deleteCompetitionMembersById" parameterType="Long">
        delete from competition_members where id = #{id}
    </delete>

    <delete id="deleteCompetitionMembersByIds" parameterType="String">
        delete from competition_members where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <delete id="deleteByMembers">
        delete from competition_members where competition_of_team_id = #{teamOfId} and competition_id = #{competitionId}
    </delete>
</mapper>