<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.ShAreaMapper">
    
    <resultMap type="com.ruoyi.system.domain.ShArea" id="ShAreaResult">
        <result property="id"    column="id"    />
        <result property="pid"    column="pid"    />
        <result property="shortname"    column="shortname"    />
        <result property="cityname"    column="cityName"    />
        <result property="mergerName"    column="merger_name"    />
        <result property="level"    column="level"    />
        <result property="pinyin"    column="pinyin"    />
        <result property="code"    column="code"    />
        <result property="zipCode"    column="zip_code"    />
        <result property="first"    column="first"    />
        <result property="longitude"    column="longitude"    />
        <result property="latitude"    column="latitude"    />
        <result property="isDeleted"    column="IS_DELETED"    />
        <result property="createdTime"    column="CREATED_TIME"    />
        <result property="createdBy"    column="CREATED_BY"    />
        <result property="modifiedBy"    column="MODIFIED_BY"    />
        <result property="lastUpdatedTime"    column="LAST_UPDATED_TIME"    />
    </resultMap>

    <sql id="selectShAreaVo">
        select id, pid, shortname, cityName, merger_name, level, pinyin, code, zip_code, first, longitude, latitude, IS_DELETED, CREATED_TIME, CREATED_BY, MODIFIED_BY, LAST_UPDATED_TIME from sh_area
    </sql>

    <select id="selectShAreaList" parameterType="com.ruoyi.system.domain.ShArea" resultMap="ShAreaResult">
        <include refid="selectShAreaVo"/>
        <where>  
            <if test="pid != null "> and pid = #{pid}</if>
            <if test="shortname != null  and shortname != ''"> and shortname like concat('%', #{shortname}, '%')</if>
            <if test="cityname != null  and cityname != ''"> and cityName like concat('%', #{cityname}, '%')</if>
            <if test="mergerName != null  and mergerName != ''"> and merger_name like concat('%', #{mergerName}, '%')</if>
            <if test="level != null "> and level = #{level}</if>
            <if test="pinyin != null  and pinyin != ''"> and pinyin = #{pinyin}</if>
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="zipCode != null  and zipCode != ''"> and zip_code = #{zipCode}</if>
            <if test="first != null  and first != ''"> and first = #{first}</if>
            <if test="longitude != null  and longitude != ''"> and longitude = #{longitude}</if>
            <if test="latitude != null  and latitude != ''"> and latitude = #{latitude}</if>
            <if test="isDeleted != null "> and IS_DELETED = #{isDeleted}</if>
            <if test="createdTime != null "> and CREATED_TIME = #{createdTime}</if>
            <if test="createdBy != null  and createdBy != ''"> and CREATED_BY = #{createdBy}</if>
            <if test="modifiedBy != null  and modifiedBy != ''"> and MODIFIED_BY = #{modifiedBy}</if>
            <if test="lastUpdatedTime != null "> and LAST_UPDATED_TIME = #{lastUpdatedTime}</if>
        </where>
    </select>
    
    <select id="selectShAreaById" parameterType="Long" resultMap="ShAreaResult">
        <include refid="selectShAreaVo"/>
        where id = #{id}
    </select>
    <select id="findMyCity" resultType="com.ruoyi.system.domain.ShArea">
        SELECT *,
               zip_code                                              AS zipCode,
               (
                       POWER(
                               MOD(
                                       ABS(
                                               LONGITUDE - #{longitude}), 360), 2) +
                       POWER(ABS(LATITUDE - #{latitude}), 2)) AS distance
        FROM sh_area
        WHERE LEVEL = 2
        ORDER BY distance LIMIT 1
    </select>

    <insert id="insertShArea" parameterType="com.ruoyi.system.domain.ShArea" useGeneratedKeys="true" keyProperty="id">
        insert into sh_area
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pid != null">pid,</if>
            <if test="shortname != null">shortname,</if>
            <if test="cityname != null">cityName,</if>
            <if test="mergerName != null">merger_name,</if>
            <if test="level != null">level,</if>
            <if test="pinyin != null">pinyin,</if>
            <if test="code != null">code,</if>
            <if test="zipCode != null">zip_code,</if>
            <if test="first != null">first,</if>
            <if test="longitude != null">longitude,</if>
            <if test="latitude != null">latitude,</if>
            <if test="isDeleted != null">IS_DELETED,</if>
            <if test="createdTime != null">CREATED_TIME,</if>
            <if test="createdBy != null">CREATED_BY,</if>
            <if test="modifiedBy != null">MODIFIED_BY,</if>
            <if test="lastUpdatedTime != null">LAST_UPDATED_TIME,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pid != null">#{pid},</if>
            <if test="shortname != null">#{shortname},</if>
            <if test="cityname != null">#{cityname},</if>
            <if test="mergerName != null">#{mergerName},</if>
            <if test="level != null">#{level},</if>
            <if test="pinyin != null">#{pinyin},</if>
            <if test="code != null">#{code},</if>
            <if test="zipCode != null">#{zipCode},</if>
            <if test="first != null">#{first},</if>
            <if test="longitude != null">#{longitude},</if>
            <if test="latitude != null">#{latitude},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
            <if test="createdTime != null">#{createdTime},</if>
            <if test="createdBy != null">#{createdBy},</if>
            <if test="modifiedBy != null">#{modifiedBy},</if>
            <if test="lastUpdatedTime != null">#{lastUpdatedTime},</if>
         </trim>
    </insert>

    <update id="updateShArea" parameterType="com.ruoyi.system.domain.ShArea">
        update sh_area
        <trim prefix="SET" suffixOverrides=",">
            <if test="pid != null">pid = #{pid},</if>
            <if test="shortname != null">shortname = #{shortname},</if>
            <if test="cityname != null">cityName = #{cityname},</if>
            <if test="mergerName != null">merger_name = #{mergerName},</if>
            <if test="level != null">level = #{level},</if>
            <if test="pinyin != null">pinyin = #{pinyin},</if>
            <if test="code != null">code = #{code},</if>
            <if test="zipCode != null">zip_code = #{zipCode},</if>
            <if test="first != null">first = #{first},</if>
            <if test="longitude != null">longitude = #{longitude},</if>
            <if test="latitude != null">latitude = #{latitude},</if>
            <if test="isDeleted != null">IS_DELETED = #{isDeleted},</if>
            <if test="createdTime != null">CREATED_TIME = #{createdTime},</if>
            <if test="createdBy != null">CREATED_BY = #{createdBy},</if>
            <if test="modifiedBy != null">MODIFIED_BY = #{modifiedBy},</if>
            <if test="lastUpdatedTime != null">LAST_UPDATED_TIME = #{lastUpdatedTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteShAreaById" parameterType="Long">
        delete from sh_area where id = #{id}
    </delete>

    <delete id="deleteShAreaByIds" parameterType="String">
        delete from sh_area where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>