<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.UserWxAqrCodeMapper">

    <resultMap type="UserWxAqrCode" id="UserWxAqrCodeResult">
        <result property="id"    column="ID"    />
        <result property="isDeleted"    column="IS_DELETED"    />
        <result property="createdTime"    column="CREATED_TIME"    />
        <result property="createdBy"    column="CREATED_BY"    />
        <result property="modifiedBy"    column="MODIFIED_BY"    />
        <result property="lastUpdatedTime"    column="LAST_UPDATED_TIME"    />
        <result property="scene"    column="scene"    />
        <result property="codeImgUrl"    column="code_img_url"    />
        <result property="userId"    column="user_id"    />
        <result property="busType"    column="bus_type"    />
        <result property="page"    column="page"    />
        <result property="width"    column="width"    />
        <result property="useDesc"    column="use_desc"    />
    </resultMap>

    <sql id="selectUserWxAqrCodeVo">
        select ID, IS_DELETED, CREATED_TIME, CREATED_BY, MODIFIED_BY, LAST_UPDATED_TIME, scene, code_img_url, user_id, bus_type, page, width, use_desc from user_wx_aqr_code
    </sql>

    <select id="selectUserWxAqrCodeList" parameterType="UserWxAqrCode" resultMap="UserWxAqrCodeResult">
        <include refid="selectUserWxAqrCodeVo"/>
        <where>
            <if test="isDeleted != null "> and IS_DELETED = #{isDeleted}</if>
            <if test="createdTime != null "> and CREATED_TIME = #{createdTime}</if>
            <if test="createdBy != null  and createdBy != ''"> and CREATED_BY like concat('%', #{createdBy}, '%')</if>
            <if test="modifiedBy != null  and modifiedBy != ''"> and MODIFIED_BY = #{modifiedBy}</if>
            <if test="lastUpdatedTime != null "> and LAST_UPDATED_TIME = #{lastUpdatedTime}</if>
            <if test="scene != null  and scene != ''"> and scene = #{scene}</if>
            <if test="codeImgUrl != null  and codeImgUrl != ''"> and code_img_url = #{codeImgUrl}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="busType != null  and busType != ''"> and bus_type = #{busType}</if>
            <if test="page != null  and page != ''"> and page = #{page}</if>
            <if test="width != null "> and width = #{width}</if>
            <if test="useDesc != null  and useDesc != ''"> and use_desc = #{useDesc}</if>
        </where>
    </select>

    <select id="selectUserWxAqrCodeById" parameterType="Long" resultMap="UserWxAqrCodeResult">
        <include refid="selectUserWxAqrCodeVo"/>
        where ID = #{id}
    </select>

    <insert id="insertUserWxAqrCode" parameterType="UserWxAqrCode" useGeneratedKeys="true" keyProperty="id">
        insert into user_wx_aqr_code
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="isDeleted != null">IS_DELETED,</if>
            <if test="createdTime != null">CREATED_TIME,</if>
            <if test="createdBy != null">CREATED_BY,</if>
            <if test="modifiedBy != null">MODIFIED_BY,</if>
            <if test="lastUpdatedTime != null">LAST_UPDATED_TIME,</if>
            <if test="scene != null">scene,</if>
            <if test="codeImgUrl != null">code_img_url,</if>
            <if test="userId != null">user_id,</if>
            <if test="busType != null">bus_type,</if>
            <if test="page != null">page,</if>
            <if test="width != null">width,</if>
            <if test="useDesc != null">use_desc,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="isDeleted != null">#{isDeleted},</if>
            <if test="createdTime != null">#{createdTime},</if>
            <if test="createdBy != null">#{createdBy},</if>
            <if test="modifiedBy != null">#{modifiedBy},</if>
            <if test="lastUpdatedTime != null">#{lastUpdatedTime},</if>
            <if test="scene != null">#{scene},</if>
            <if test="codeImgUrl != null">#{codeImgUrl},</if>
            <if test="userId != null">#{userId},</if>
            <if test="busType != null">#{busType},</if>
            <if test="page != null">#{page},</if>
            <if test="width != null">#{width},</if>
            <if test="useDesc != null">#{useDesc},</if>
        </trim>
    </insert>

    <update id="updateUserWxAqrCode" parameterType="UserWxAqrCode">
        update user_wx_aqr_code
        <trim prefix="SET" suffixOverrides=",">
            <if test="isDeleted != null">IS_DELETED = #{isDeleted},</if>
            <if test="createdTime != null">CREATED_TIME = #{createdTime},</if>
            <if test="createdBy != null">CREATED_BY = #{createdBy},</if>
            <if test="modifiedBy != null">MODIFIED_BY = #{modifiedBy},</if>
            <if test="lastUpdatedTime != null">LAST_UPDATED_TIME = #{lastUpdatedTime},</if>
            <if test="scene != null">scene = #{scene},</if>
            <if test="codeImgUrl != null">code_img_url = #{codeImgUrl},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="busType != null">bus_type = #{busType},</if>
            <if test="page != null">page = #{page},</if>
            <if test="width != null">width = #{width},</if>
            <if test="useDesc != null">use_desc = #{useDesc},</if>
        </trim>
        where ID = #{id}
    </update>

    <delete id="deleteUserWxAqrCodeById" parameterType="Long">
        delete from user_wx_aqr_code where ID = #{id}
    </delete>

    <delete id="deleteUserWxAqrCodeByIds" parameterType="String">
        delete from user_wx_aqr_code where ID in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>