<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xjs.topsearch.mapper.ApiTopsearchWechatMapper">

    <delete id="deleteRepeatData">
        DELETE
        FROM
            api_topsearch_wechat
        WHERE
                word IN ( SELECT t.word FROM ( SELECT word FROM api_topsearch_wechat GROUP BY word HAVING count( word ) > 1 ) t )
          AND id NOT IN (
            SELECT
                c.id
            FROM
                ( SELECT min( id ) id FROM api_topsearch_wechat GROUP BY word HAVING count( word )> 1 ) c
        )
    </delete>

</mapper>