<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysMailLogMapper">

    <resultMap type="com.ruoyi.system.domain.SysMailLog" id="SysMailLogResult">
        <result property="mailLogId" column="mail_log_id"/>
        <result property="status" column="status"/>
        <result property="businessType" column="business_type"/>
        <result property="from" column="from"/>
        <result property="to" column="to"/>
        <result property="cc" column="cc"/>
        <result property="subject" column="subject"/>
        <result property="msg" column="msg"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
        <result property="createByName" column="create_by_name"/>
        <result property="costTime" column="cost_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectSysMailLogVo">
        select mail_log_id,
               status,
               business_type,
               sys_mail_log.from,
               sys_mail_log.to,
               cc,
               subject,
               msg,
               create_time,
               create_by,
               cost_time,
               remark
        from sys_mail_log
    </sql>

    <select id="selectSysMailLogList" parameterType="com.ruoyi.system.domain.SysMailLog" resultMap="SysMailLogResult">
        select
            t.mail_log_id,
            t.status,
            t.business_type,
            t.from,
            t.to,
            t.cc,
            t.subject,
            t.msg,
            t.create_time,
            t.create_by,
            createUser.user_name as create_by_name,
            t.cost_time,
            t.remark
        from sys_mail_log t
        left join sys_user createUser on t.create_by = createUser.user_id
        <where>
            <if test="status != null ">and t.status = #{status}</if>
            <if test="to != null  and to != ''">and t.to = #{to}</if>
            <if test="subject != null  and subject != ''">and t.subject = #{subject}</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''">
                and t.create_time between #{params.beginCreateTime} and #{params.endCreateTime}
            </if>
        </where>
    </select>

    <select id="selectSysMailLogByMailLogId" parameterType="Long" resultMap="SysMailLogResult">
        <include refid="selectSysMailLogVo"/>
        where mail_log_id = #{mailLogId}
    </select>

    <insert id="insertSysMailLog" parameterType="com.ruoyi.system.domain.SysMailLog">
        insert into sys_mail_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="mailLogId != null">mail_log_id,</if>
            <if test="status != null">sys_mail_log.status,</if>
            <if test="businessType != null">business_type,</if>
            <if test="from != null">sys_mail_log.from,</if>
            <if test="to != null">sys_mail_log.to,</if>
            <if test="cc != null">cc,</if>
            <if test="subject != null">sys_mail_log.subject,</if>
            <if test="msg != null">msg,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="costTime != null">cost_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="mailLogId != null">#{mailLogId},</if>
            <if test="status != null">#{status},</if>
            <if test="businessType != null">#{businessType},</if>
            <if test="from != null">#{from},</if>
            <if test="to != null">#{to},</if>
            <if test="cc != null">#{cc},</if>
            <if test="subject != null">#{subject},</if>
            <if test="msg != null">#{msg},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="costTime != null">#{costTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateSysMailLog" parameterType="com.ruoyi.system.domain.SysMailLog">
        update sys_mail_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="status != null">status = #{status},</if>
            <if test="businessType != null">business_type = #{businessType},</if>
            <if test="from != null">sys_mail_log.from = #{from},</if>
            <if test="to != null">sys_mail_log.to = #{to},</if>
            <if test="cc != null">cc = #{cc},</if>
            <if test="subject != null">sys_mail_log.subject = #{subject},</if>
            <if test="msg != null">msg = #{msg},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="costTime != null">cost_time = #{costTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where mail_log_id = #{mailLogId}
    </update>

    <delete id="deleteSysMailLogByMailLogId" parameterType="Long">
        delete
        from sys_mail_log
        where mail_log_id = #{mailLogId}
    </delete>

    <delete id="deleteSysMailLogByMailLogIds" parameterType="String">
        delete from sys_mail_log where mail_log_id in
        <foreach item="mailLogId" collection="array" open="(" separator="," close=")">
            #{mailLogId}
        </foreach>
    </delete>
</mapper>